<div class="center hero-unit">
	<h1>Welcome to UX Angels</h1>
	<h2>This is the home page for
		<a href="http://www.uxangels.org/">
			UX Angels
		</a>
	</h2>
	<!-- Car2go.getRes("vehicles", "&loc=seattle") %> -->
	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
	
https://www.car2go.com/api/v2.1/vehicles?oauth_consumer_key=Car2Square&format=json&loc=seattle

	47.62516, -122.30114
	47.62870, -122.30689