@import "bootstrap";
@import "bootstrap-responsive";
@import url(http://fonts.googleapis.com/css?family=Quando);

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
padding-top:60px;
}

@media (max-width: 979px) {
	body { padding-top: 0; }
}

@media (max-width: 480px) {
	.hero-unit .btn {
		display:block;
	}
}

.users {
	list-style:none;
	margin:0;
	li {
		overflow:auto;
		padding: 10px 0;
		border-top: 1px solid $grayLighter;
	}
	li:last-child {
		border-bottom: 1px solid $grayLighter;
	}
}


.btn-primary {
	background: rgb(249,198,103); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(249,198,103,1) 0%, rgba(247,150,33,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,198,103,1)), color-stop(100%,rgba(247,150,33,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(249,198,103,1) 0%,rgba(247,150,33,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(249,198,103,1) 0%,rgba(247,150,33,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(249,198,103,1) 0%,rgba(247,150,33,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(249,198,103,1) 0%,rgba(247,150,33,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9c667', endColorstr='#f79621',GradientType=0 ); /* IE6-9 */

	-moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.5);
	box-shadow: 0px 1px 2px rgba(0,0,0,0.5);
	
	&:hover {
		-moz-box-shadow: 0px 0px 2px rgba(0,0,0,0.7);
		-webkit-box-shadow: 0px 0px 2px rgba(0,0,0,0.7);
		box-shadow: 0px 0px 2px rgba(0,0,0,0.7);		
	}

	&:hover, &:focus, &:active {
	color: white;
  	background-color: #0044cc;
  	*background-color: #003bb3;;
  	}
}

.jumbotron {
	color:#FFF;
	/* gradient */
	background: rgb(73,192,240); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(73,192,240,1) 0%, rgba(40,122,204,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(73,192,240,1)), color-stop(100%,rgba(40,122,204,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(73,192,240,1) 0%,rgba(40,122,204,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(73,192,240,1) 0%,rgba(40,122,204,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(73,192,240,1) 0%,rgba(40,122,204,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(73,192,240,1) 0%,rgba(40,122,204,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49c0f0', endColorstr='#287acc',GradientType=0 ); /* IE6-9 */
	/* end gradient */
	position: relative;
	padding: 40px 20px;
	margin: -20px -20px 20px -20px;

	h1 {
		font-size: 60px;
		font-weight: bold;
		letter-spacing: -1px;
		line-height: 1;
	}

	h2 {
		color: white;
	}

	&:after {
		content: '';
		display: block;
		/* position: absolute; */
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		/* background: url(../img/bs-docs-masthead-pattern.png) repeat center center;
		opacity: .4; */
	}

	a {
		color:white;
	}

}

/* UNIVERSAL */

html {
	overflow-y: scroll;
}

section {
	overflow: auto;
}

textarea {
	resize:vertical;
}

.center {
	text-align:center;
	h1 {
		margin-bottom: 10px;
	}
}

/* TYPOGRAPHY */
h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}

h2 {
	font-size: 1.7em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: $grayLight;
}

p {
	font-size: 1.1em;
	line-height:1.7em;
}

/* HEADER */

#logo {
float: left;
margin-right: 10px;
font-size:1.7em;
color: white;
letter-spacing: -1px;
padding-top: 9px;
font-weight: bold;
font-family: 'Quando', serif; /* GOOGLE FONT */
line-height: 1;
&:hover {
	color:white;
	text-decoration:none;
	}
}

/* FOOTER */

.footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px scroll $grayMediumLight;
	color: $grayLight;
	a {
		color: $gray;
		&:hover {
			color: $grayDarker;
		}
	}
	small {
		float:left;
	}
	ul {
		float: right;
		list-style: none;
		li {
			float: left;
			margin-left: 10px;
		}
	}
}	

/* DEBUG FOOTER */

.debug_dump {
	clear:both;
	float:left;
	width:100%;
	margin-top:25px;
	@include box_sizing;
}

/* microposts ============================== */

.micropost-post {
	padding: 10px 10px 15px;
	border: 0px solid #d7d7d7;
	background-color: #f7f7f7;
	border-radius: 7px;

	textarea {
		width:95%;
	}
	.btn {
		float:right;
	}
}

.microposts {
	list-style:none;
	margin: 10px 0 0 0;

	li {
		padding:10px 0;
		border-top: 1px solid #e8e8e8;
	}
}

.content {
	display:block;
}

.timestamp {
	color:$grayLight;
}

/* SIDEBAR */

aside {
	
	textarea {
		height:100px;
		margin-bottom: 5px;
	}

	section {
		padding: 10px 0;
		border-top: 1px solid $grayLighter;
		&:first-child {
			border:0;
			padding-top: 0;
		}
		span {
			display: block;
			margin-bottom: 3px;
			line-height: 1;
		}
		h1 {
			font-size: 1.6em;
			text-align: left;
			letter-spacing: -1px;
			margin-bottom: 3px;
		}
	}
}

.gravatar {
	float:left;
	margin-right: 10px;
}

/* forms */

#error_explanation {
	color: #f00;
	ul {
		list-style: none;
		margin: 0 0 18px 0;
	}
}

.field_with_errors {
	@extend .control-group;
	@extend .error;
}